
#canvasArea{
	border: thin solid gray;
    background: url('back.png');
}




.playArea {
    width: 550px;
    float: left;
}
.terminal {
    width: 500px;
    float: left;
    padding: 15px;
    height: 475px;
    background-color: black;
    font-family: MONACO;
    font-size: 12px;
    color: #00cc00;
}